*{
    margin: 0;
    padding: 0;
}
.wrapping{
    max-width: 1200px;
    margin: auto;
    background: #fafafa;
}
.menu{
    background: green;
}
.menu ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu ul li{
    flex-grow: 1;
}
.menu ul li a{
    padding: 10px 20px;
    color: #fff;
    display: block;
    border: 1px solid #ddd;
    text-decoration: none;

}

/* Row 2 */
.row_2{
    display: flex;

}
.flex_item{
    border: 1px solid red;
}

/* Row 3 */
.row_3{
    display: flex;
    margin-top: 30px;
}
.row_3_item{
    border: 1px solid rosybrown;
    flex-basis: 30%;
}

.left_item{
    flex-basis: 70%;
}

/* Row 4 */
.row_4{
    display: flex;
}
.row_4_item{
    border: 1px solid sandybrown;
    flex: 1 0 0%;
}
.mid_row{
    flex-grow: 3;
}


/* Center DIv */
.center_div{
    width: 600px;
    height: 400px;
    border: 2px solid green;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner_center {
	width: 110px;
	height: 100px;
	text-align: center;
	background: red;
	color: #fff;
}








/* Part One CSS */
.flex_content{
    width: 600px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}
.flex_item_01{
    padding: 10px;
    background: green;
    color: #fff;
    text-align: center;
    border: 1px solid #999;
    width: 100px;
}


